.write{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.writeImg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60vw;
    height: 450px;
    border-radius: 5px;
    object-fit: cover;
   

}

.textForm {
    font-family: 'Merriweather', sans-serif;
    position: relative;
    top: 20px;
    color: silver;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px;
    border-color: silver;
    border-radius: 10px;
    cursor: pointer;
    font-style: 16px;
}

.writeForm {
    position: relative;
    padding-left: 50px;
}

.writeFormGroup {
    
    display: flex;
    align-content: center;
    justify-content: center;
  
}

.writeIcon {
    width: 25px;
    height: 25px;
    /* border-radius: 50%; */
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: silver;
    cursor: pointer;
}

.writeInput {
    font-family: 'Merriweather', sans-serif;
    font-size: 30px;
    border: none;
    padding: 20px;
    width: 60vw;
}

.writeInput:foucus {
    outline: none;
    
}

.writeText {
    font-family: 'Merriweather', sans-serif;
    font-size: 20px;
    height: 50vh;
}

.writeSubmit {
    font-family: 'Merriweather', sans-serif;
    position: relative;   
    top: 20px;
    color: silver;
    background-color: rgb(141, 5, 28);
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}
