.sidebar {
    color: black;
    flex: 3;
    margin: 20px;
    padding-bottom: 30px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: -20px;
    background-color: #fafafa;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Merriweather', 'sans-serif';
}

.sidebarItem {
    display: flex;
    flex-direction: column;
    
}

.sidebarTitle {
    margin: 10px;
    padding: 5px;
    width: 80%;
    border-top: 1px solid #a7a7a7;
    border-bottom: 1px solid #a7a7a7;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
}

.sidebarList {
    list-style: none;
    margin-bottom: 20px;
    cursor: pointer;
}

.sidebarListItem {
    display: inline-block;
    width: 50%;
}