.header {
    margin-top: 20px;
}

.headerTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Merryweather', 'sans-serif';
}

.headerTitleLg {
    position: absolute;
    top: 50%;
    font-size: 130px;
    color: white;
    font-family: 'Tangerine', 'sans-serif';
    /* z-index: 1; */
}
.headerTitleSm {
    position: absolute;
    top: 65%;
    font-size: 40px;
    color: white;
    font-family: 'Tangerine', 'sans-serif';
    /* z-index: 1; */
}

.headerImg {
    width: 100%;
    height: 850px;
    margin-top: 60px;
    object-fit: cover;
}
